/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/wijmo/wijmo.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/primeng/resources/themes/omega/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

typeahead-container.dropdown {
    width:100% !important;
}

typeahead-container > ul.dropdown-menu {  
    width:100% !important; overflow-y: scroll !important; height: 300px !important;
}

.typeahead {
    background: url(assets/download.png) no-repeat scroll 7px 7px;
    padding-right:20px;     
    background-size: 15px 20px;       
    background-position:right;
}
   
.mat-input-select {
    background: url(assets/download.png) no-repeat scroll 7px 7px;
    padding-right:20px;     
    background-size: 15px 20px;       
    background-position:right;
}

.mat-input-underline {    
  color:white !important;
  background-color:white !important;
}

.mat-input-ripple {
  color:white !important;
  background-color:white !important;
}

.mat-option {
  height: inherit !important;
  line-height: inherit !important;
  font-family: inherit !important;
  font-size: inherit !important;
}

.mat-option:hover { 
    background-color: steelblue !important;
    color: white !important;
}
