/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/wijmo/wijmo.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/primeng/resources/themes/omega/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
  
/*.mat-input-select {
    background: url(assets/dropdown.png) no-repeat;
    background-size: 6px 12px;       
    background-position: right 6px center;
}*/

.mat-input-underline {    
  color:white !important;
  background-color:white !important;
}

.mat-input-ripple {
  color:white !important;
  background-color:white !important;
}

.mat-option {
  height: inherit !important;
  line-height: inherit !important;
  font-family: inherit !important;
  font-size: inherit !important;
}

.mat-option:hover { 
    background-color: dodgerblue !important;
    color: white !important;
}

.mat-option.mat-active {
    background-color: dodgerblue !important;
    color: white !important;    
}

.mat-autocomplete-panel.mat-autocomplete-panel-below {   
   top:0px !important;
   border: 1px solid dodgerblue !important;   
}